<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [opened]="screenWidth > 840"
    [mode]="screenWidth > 840 ? 'side' : 'over'"
    infinite-scroll
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    [ngStyle]="{width: screenWidth > 840 ? '30vw' : '100vw'}"
  >
    <app-pokemon-list [pokeDetail]="pokeDetail" (onSelected)="sidenav.close()"></app-pokemon-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div [ngStyle]="{ display: screenWidth > 840 ? 'none' : 'block'}">
      <button type="button" mat-button (click)="sidenav.open()">
          <mat-icon>list</mat-icon>
      </button>
    </div>
    <mat-progress-bar
      mode="indeterminate"
      [ngStyle]="{ display: isSomethingLoading ? 'block' : 'none' }"
    ></mat-progress-bar>
    <app-pokemon-detail #pokeDetail></app-pokemon-detail>
  </mat-sidenav-content>
</mat-sidenav-container>
